
.parallax {
    background-size: cover;
    opacity: 1;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  .parallax-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/pattern0.jpg);   
}

