//$color-primary-light: #34dca2;
//$color-primary-dark: #6046aa;

$color-secondary-dark: #afa1d8;

$color-white: #fff;
$color-black: #000;

$color-primary-light: #f9c7cf;
$color-primary-dark: #0f4137;

$color-secondary-light: #e7f5f2;
$color-secondary-dark: #11FFBD;





$color-secondary-light: #A6FFCB;

$color-yellow: #ffffe3;
$color-yellow-dark: #ffff4b;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #757882;
$color-grey-dark-2: #999;
$color-grey-dark-3: #595959;

